@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

.flex{
display: flex;
    &--row{
    flex-direction:row;
    }
    &--col{
    flex-direction:column;
    }
    &-align--center{
    align-items: center;
    }
}

