label{
    width:375px;
    & .menu__text{
       & span, & p{
           white-space: nowrap;
           overflow:hidden;
           text-overflow:ellipsis;
       }
    }
}

input{
    display:none;
    &:checked{
        display:block;
    }
}