* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand", sans-serif;
}

.bold {
    font-weight: bold;
}

label {
    .text {
        &16 {
            font-size: 16px;
        }
        &18 {
            font-size: nth($size, 2);
        }
        &-overflow--ellipsis {
            width: 210px;
            white-space: nowrap;
        }
    }
    &:hover .text-overflow--ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}