* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand", sans-serif;
}
.bold {
    font-weight: bold;
}
.text {
    &16 {
        font-size: 16px;
    }
    &18 {
        font-size: nth($size, 2);
    }
    &-overflow--ellipsis{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
