.place{
    width: $full;
    height: nth($spacing, 5);
    background-color:rgb(235, 235, 235);
    border-top: 3px solid rgba(128, 128, 128, 0.050);
    & strong, & .fa-map-marker-alt{
    position:relative;
    left:-5%;
    }
    & .fa-map-marker-alt{
        margin-right: nth($spacing, 2);
        }
}

.infos{
    padding-top: nth($spacing, 5);
    margin-bottom: nth($spacing, 5);
    background-color:rgb(245,245,245);
    & strong{
        font-size: nth($size, 5);
        margin-left: nth($spacing, 4);
        margin-right: nth($spacing, 4);
    }
    & p{
        font-size: nth($size, 2);
        margin-left: nth($spacing, 1);
        margin-right: nth($spacing, 1);
        
    }
}

.important{
    margin-left:nth($spacing, 3);
    font-size:nth($size, 4);
    font-weight:bold;
}

.primary-container{
    height:350px;
    margin-top:45px;
    & .secondary-container{
        height:1000px;
    }
}