.place{
    width: $full;
    height: nth($spacing, 5);
    background-color:rgb(235, 235, 235);
    border-top: 3px solid rgba(128, 128, 128, 0.050);
    & strong, & .fa-map-marker-alt{
    position:relative;
    left:-5%;
    @media screen and (min-width:580px) and (max-width:1024px){
        left:-2.5%;
    }
    @media screen and (min-width:1024px) {
        left:0;
    }
    }
    & .fa-map-marker-alt{
        margin-right: nth($spacing, 2);
        }
}

.infos{
    padding-top: nth($spacing, 5);
    margin-bottom: nth($spacing, 5);
    background-color:rgb(245,245,245);
    & a{
        display:contents;
        width:350px;
    }
    & strong{
        font-size: nth($size, 5);
        margin-left: nth($spacing, 4);
        margin-right: nth($spacing, 4);
    }
    & p{
        font-size: nth($size, 2);
        margin-left: nth($spacing, 1);
        margin-right: nth($spacing, 1);
        
    }
}

.primary-container{
    height:340px;
    margin-top:nth($spacing,5);
    & .important{
        margin-top:0;
        margin-right:155px;
        font-size:nth($size, 4);
        font-weight:bold;
    }
}
.secondary-container{
    background-color:rgb(245,245,245);
    height:1330px;
    padding-top: nth($spacing, 5);
    & .important{
        margin-top:0;
        margin-right:205px;
        margin-bottom:nth($spacing,4);
        font-size:nth($size, 4);
        font-weight:bold;
    }
}