.fa-arrow-left {
    position: relative;
    left: -50px;
    font-size: nth($size, 3);
    color: black;
}
form{
    height:1050px;
}
.menu {
    background-color: white;
    height: 1411px;
    &__img {
        max-width:375px;
        height:300px;
        overflow: hidden;
        & img {
            width:410px;
        }
    }
    &__title {
        position: relative;
        top: -40px;
        background-color: rgb(245, 245, 245);
        border-radius: 45px 45px 0 0;
        width: 375px;
        max-width: 375px;
        & h1 {
            font-size: nth($size, 5);
            margin-top: nth($spacing, 4);
            margin-right: nth($spacing, 4);
        }
        & .fa-heart {
            font-size: nth($size, 5);
            margin-top: nth($spacing, 3);
            margin-right: nth($spacing, 3);
        }
    }
    & .important {
        margin-top: nth($spacing, 3);
        margin-right: 295px;
        margin-bottom: nth($spacing, 2);
        width: 40px;
        height: 25px;
        border-bottom: 3px solid $tertiary-color;
    }
    & section {
        position: relative;
        top: -40px;
        width: 375px;
        max-width: 375px;
        background-color: rgb(245, 245, 245);
    }
}
