form{
    height:1050px;
}

.menu {
    background-color: white;
    height: 1411px;
    &--2{
    height: 1517px;
    }
    &__img {
        max-width:375px;
        height:300px;
        overflow: hidden;
        & img {
            width:410px;
        }
    }
    &__title {
        position: relative;
        top: -40px;
        background-color: rgb(245, 245, 245);
        border-radius: 45px 45px 0 0;
        width: 375px;
        max-width: 375px;
        & h1 {
            font-size: nth($size, 5);
            margin-top: nth($spacing, 4);
            margin-left: nth($spacing, 3);
        }
        & .fa-heart {
            font-size: nth($size, 5);
            margin-right: nth($spacing, 4);
            cursor: pointer;
            font-weight:normal;
            transition: all 350ms, margin-top 0ms, font-weight 50ms, color 1000ms;
            &:hover{
                margin-top: 28px;
                color: $secondary-color;
                display: block;
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bolder;
            }
        }
    }
    & .important {
        margin-top: nth($spacing, 3);
        margin-right: 295px;
        margin-bottom: nth($spacing, 2);
        width: 40px;
        height: 25px;
        border-bottom: 3px solid $tertiary-color;
    }
    & section {
        position: relative;
        top: -40px;
        width: 375px;
        max-width: 375px;
        background-color: rgb(245, 245, 245);
    }
}

label {
    & .bold {
        font-weight: bold;
    }    
    & .text {
        &--16 {
            font-size: 16px;
        }
        &--18 {
            font-size: nth($size, 2);
        }
        &-overflow--ellipsis {
            width: 210px;
            white-space: nowrap;
        }
    }
    &:hover .text-overflow--ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}