footer{
    background-color: rgb(50,50,50);
    color: white;
    padding-left: nth($spacing,3);
    padding-right:140px;
  
    & h5{
        margin-top:nth($spacing,4);
        margin-bottom:nth($spacing, 3);
        font-size:20px;
        font-weight:lighter;
    }
    & .fa-utensils, & .fa-hands-helping{
       margin-bottom:nth($spacing,2);
       margin-right:nth($spacing, 2);
    }
    & .fa-hands-helping{
        width:13px;
    }
    & a{
        text-decoration: none;
        
        color:white;
        margin-bottom:nth($spacing,1);
    }
}